# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Large data / vector stores
Data/
Script/vectorstore/
Script/loaded_docs.json
